body {
    background-color: #444444;
}

.navbar-brand span {
    color: #fff!important;
}

.form-control,
.form-select {
    padding: 16px 0 !important;
}

.nav-link {
    color: #fff!important;
}

#navbar {
    margin-bottom: 80px;
}

#contact-us {
    background-color: #fff!important;
}

<<<<<<< HEAD

/* .aboutus-page {
    background-color: red !important;
    color: aqua;
    height: 550px;
    margin-top: 0;
}

.text-white h2 {
    margin-bottom: 0 !important;
} */

=======
>>>>>>> 7524d35aadfd5b5c1030ec412ac212eebd0ba5cf
#aboutus-heading h2 {
    padding-top: 10px;
}

.text-center h2 {
    margin-top: 64px!important;
}

.bg-light {
    max-height: 100vh!important;
}

#footer {
    background-image: url("/img/footer-bg.png");
    /* background-color: #444; */
}

#footer a {
    text-decoration: none;
    list-style: none;
}

#footer li {
    list-style: none;
}

li a {
    color: #000;
}

.bi-facebook,
.bi-twitter,
.bi-linkedin,
.bi-instagram {
    color: #000;
    width: 100px;
    height: 100px;
}

.bi-chevron-right {
    opacity: 0.4;
}

section {
    padding-bottom: 50px;
}