body {
    background-color: #444444;
}

.navbar-brand span {
    color: #fff!important;
}

.homepage:active {
    color: #000;
}

.homepage li a {
    background-color: aqua;
}

.form-control,
.form-select {
    padding: 16px 0 !important;
}

.nav-link {
    color: #fff!important;
    font-family: 'Raleway', sans-serif!important;
    font-weight: 700!important;
    ;
}

#navbar ul .nav-link:hover {
    color: #444!important;
}

#navbar ul .nav-link {
    font-size: 12px!important;
}

#navbar {
    margin-bottom: 80px;
}

#contact-us {
    background-color: #fff!important;
}

#aboutus-heading h2 {
    padding-top: 10px;
}

#footer {
    background-image: url("/img/footer-bg.png");
}

#footer a {
    text-decoration: none;
    list-style: none;
}

#footer li {
    list-style: none;
}

li a {
    color: #000;
}

.bi-facebook,
.bi-twitter,
.bi-linkedin,
.bi-instagram {
    color: #000;
    width: 100px;
    height: 100px;
}

.bi-chevron-right {
    opacity: 0.4;
}

section {
    padding-bottom: 50px;
}

#ourservice {
    background-color: rgb(233, 233, 233);
}